{% extends 'layout/base.html' %} {% block content %}
<h1 class="text-center mb-5">All Of Orders</h1>
<div class="row mb-5">
  <h4 class="col col-md-4">Sản phẩm</h4>
  <h4 class="col-md-6 col">Tiến độ xử lý</h4>
  <h4 class="col col-md-2">Trạng thái</h4>
</div>
{% for o in order %}
<div class="row fl">
  <div class="col col-md-4">
    <div class="bo">
      <div>
        <p>Đơn hàng: #{{o.id}}</p>
        <p class="text-danger">Ngày đặt: {{o.orderDate}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col">
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped bg-info"
        role="progressbar"
        style="width: 90%"
        aria-valuenow="50"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </div>
  <div class="col col-md-2">
    <span class="text-info">Đang giao hàng</span>
  </div>
</div>
{% endfor %} {% endblock %}
